[submodule "bundle/pathogen"]
	path = bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/lusty"]
	path = bundle/lusty
	url = git://github.com/sjbach/lusty.git
[submodule "bundle/yank-ring"]
	path = bundle/yank-ring
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "bundle/mac_classic"]
	path = bundle/mac_classic
	url = git://github.com/nelstrom/vim-mac-classic-theme.git
[submodule "bundle/railscasts/colors"]
	path = bundle/railscasts/colors
	url = git://github.com/jpo/vim-railscasts-theme.git
[submodule "bundle/neverland/colors"]
	path = bundle/neverland/colors
	url = git://github.com/trapd00r/neverland-vim-theme.git
[submodule "bundle/birds_of_paradise/colors"]
	path = bundle/birds_of_paradise/colors
	url = git://github.com/kennethlove/Birds-of-Paradise-VIM-Theme.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
